################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TheMarketingPlatform/.vs/
/TheMarketingPlatform/packages/

/TheMarketingPlatform/TheMarketingPlatform.Core/bin
/TheMarketingPlatform/TheMarketingPlatform.Database/bin
/TheMarketingPlatform/TheMarketingPlatform.databaseproject/bin
/TheMarketingPlatform/TheMarketingPlatform.Mail/bin
/TheMarketingPlatform/TheMarketingPlatform.Service/bin
/TheMarketingPlatform/TheMarketingPlatfrom.CognitiveServices/bin
/TheMarketingPlatform/TheMarketingPlatfrom.Client/bin
/TheMarketingPlatform/TheMarketingPlatfom.Client/bin

/TheMarketingPlatform/TheMarketingPlatform.Core/obj
/TheMarketingPlatform/TheMarketingPlatform.Database/obj
/TheMarketingPlatform/TheMarketingPlatform.databaseproject/obj
/TheMarketingPlatform/TheMarketingPlatform.Mail/obj
/TheMarketingPlatform/TheMarketingPlatform.Service/obj
/TheMarketingPlatform/TheMarketingPlatfrom.CognitiveServices/obj
/TheMarketingPlatform/TheMarketingPlatfom.Client/obj
/TheMarketingPlatform/TheMarketingPlatform/obj

/TheMarketingPlatform/TheMarketingPlatform.databaseproject/TheMarketingPlatform.databaseproject.dbmdl
/TheMarketingPlatform/TheMarketingPlatform.databaseproject/TheMarketingPlatform.databaseproject.jfm
