<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TheMarketingPlatform.Database.Properties.Settings.TheMarketingPlatformConnectionString"
            connectionString="Data Source=HAL2015;Initial Catalog=TheMarketingPlatform;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>